harjoitustehtavat/

Viikko 1/teht*/build/
Viikko 1/teht1/*.user
Viikko 1/teht2/*.user
Viikko 1/teht3/*.user
Viikko 1/Ratkaisut/

Viikko 2/teht*/build/
Viikko 2/teht1/*.user
Viikko 2/teht2/*.user
Viikko 2/teht3/*.user
Viikko 2/Ratkaisut/

Viikko 3/teht*/build/
Viikko 3/teht1/*.user
Viikko 3/teht2/*.user
Viikko 3/teht3/*.user
Viikko 3/Ratkaisut/

Viikko 4/teht*/build/
Viikko 4/teht1/*.user
Viikko 4/teht2/*.user
Viikko 4/teht3/*.user
Viikko 4/Ratkaisut/

Viikko 5/teht*/build/
Viikko 5/teht1/*.user
Viikko 5/teht2/*.user
Viikko 5/teht3/*.user
Viikko 5/Ratkaisut/

Viikko 6/teht*/build/
Viikko 6/teht1/*.user
Viikko 6/teht2/*.user
Viikko 6/teht3/*.user
Viikko 6/Ratkaisut/

Viikko 7/teht*/build/
Viikko 7/teht1/*.user
Viikko 7/teht2/*.user
Viikko 7/teht3/*.user
Viikko 7/Ratkaisut/

Viikko 8/teht*/build/
Viikko 8/teht1/*.user
Viikko 8/teht2/*.user
Viikko 8/teht3/*.user
Viikko 8/Ratkaisut/
